.introducao-bg {
    background-color: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
/* definindo max-width pra nao crescer mais que a header tambem
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
 usamos maring left e right pra alinhar ao centro com max-width 
    margin-left: auto;
    margin-right: auto; */
}

/* inicialmente o grid tenta distribuir os espacos de forma igal, por isso cria um espacao entre as linhas. posso resolver agrupando o conteudo de texto em uma div pra ficar tudo em 2 colunas sem linhas 

.introducao p, .introducao a {
    grid-column: 1;
}

.introducao img {
    grid-column: 2;
    grid-row: 1 / 3;
}
*/

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}

/* .introducao-imagem {
    margin-bottom: -120px;
} */
.introducao img {
    /* height: 100%; aqui nao funciona porque esmaga a imagem e tenta caber dentro do container, ignorando a margin bottom, entao tenho que colocar object-fit cover. a height 100% é pra ficar do tamnaho do container pra adicionar a margin bottom */
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
}

.introducao h1 {
    margin-bottom: 32px;
}

.introducao p {
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    
    .introducao-bg {
        background-color: #111111;
        padding-top: 40px;
        box-shadow: inset 0 -60px #ffffff;
    }

    .introducao-conteudo {
        padding-bottom: 0;
    }

    .introducao h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .introducao img {
        height: 300px;
        width: 100%;
    }
}