.vantagens-bg {
    background-color: var(--cor-12);
    /* --padding: 120px */
}

.vantagens {
    padding-top: 100px;
    padding-bottom: 100px;
}

.vantagens h2 {
    margin-bottom: 60px;
}

.vantagens ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    /* o autofit vai tentar colocar o valor e quantidade de colunas que der. as colunas terao minimo de 280px e maximo do conteudo que ela pode ter*/
    gap: 40px 80px;
}

.vantagens h3, .vantagens img {
    margin-bottom: 8px;
}

@media (max-width: 800px) {

    /* .vantagens-bg {
        --padding: 60px;
    } */

    .vantagens {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .vantagens h2 {
        margin-bottom: 40px;
    }

    .vantagens h3 {
        font-size: 1.2rem;
    }

    .vantagens ul {
        gap: 20px;
    }
}