
/* CONFIG GERAIS DO ESTILO (RESETANDO, DISPLAY GRID PRA FACILITAR, ETC) */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f7f7f7;
    display: grid;
    gap: 60px;
    justify-items: center; /* isso faz com que os elementos centralizem e nao se expandam 100% mais, fazendo com que o conteudo tenha o maximo de tamanho do conteudo dele */
    margin-top: 50px;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}

/* CONFIG DO CONTEÚDO */

.header {
    display: grid;
    justify-items: center;
    gap: 60px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.menu a {
    display: block;
    background: white;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid white; /*fixing border issue*/
    
}

.menu a:hover {
    border: 2px solid red; /*the border was making the content jump, to solve this, we put a white border in the a item */
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao {
    background: #fff;
    padding: 40px ;
    text-align: right;
    position: relative;
    display: grid;
    gap: 20px;
    align-content: center; 
    justify-items: end; /* se nao tivessemos usado isso, o item ficaria com o width da linha, assim que o grid faz! */
    position: relative;
}

.introducao h1 {
    font-size: 2rem;
}

.introducao::before {
    content: "";
    width: 60px;
    height: 4px;
    background: #e21; 
    /*display: inline-block;*/
    position: absolute; /* usamos position absolute pra poder posicionar o elemento fora do seu fluxo natural, como se ele estivesse solto, um sticker, mas pra isso temos que colocar o elemento direto pai como position:relative */
    top: 30px;
    right: -30px;
}

.introducao-cover img { /*nesse caso preciso falar diretamente com a img senao n funciona */
    object-fit: cover;
    height: 100%;
}

.botao {
     background: #e21;
     color: #fff;
     padding: 1rem 2rem;
     border-radius: 4px;
     text-transform: uppercase;
}

.botao:hover {
    background-color: #900;
    transition: .3s;
}

.subtitulo {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 40px;
    align-self: center;
    background-image: url(../img/onda.svg);
    /* word-break: break-all; */
}

.vantagens {
    background: white;
    padding: 40px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr; /* auto serve pro elemento ficar exatamente do tamanho do seu conteúdo, entao aqui dividimos auto e 1fr pra segunda coluna ocupar todo o resto do container */
    gap: 8px 20px; /* o primeiro valor gap sempre sera LINHA, e o segundo COLUNA */
    padding: 20px;
    /*border-left: 4px solid white; option not to jump at hover */
}

.vantagens-item:hover {
    border-left: 4px solid red;
}

.vantagens-item p {
    grid-column: 2; /* o p entrou na primeira coluna, entao decidimos falar diretamente com ele pra ele ficar na segunda coluna! */
}

.vantagens-item:nth-child(odd) {
    background-color: #f7f7f7;
}

.rodape {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 40px;
    margin-bottom: -60px;
    box-sizing: border-box;
}

/*aqui ele comecou a criar a scrollbar, isso se dá porque o width sempre soma o padding e margin, eu posso transforma-lo em border-box*/

@media (max-width: 1000px) {
  .conteudo-vantagens {
    grid-template-columns: 1fr;
  }

  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 600px) {

    body {
        gap: 30px;
        margin-top: 20px;
    }

    .header {
        gap: 30px;
    }

    .menu a {
        padding: 0.5rem 1.3rem;
    }

    .menu {
        padding: 1rem;
    }

    .conteudo {
       grid-template-columns: 1fr; 
    }

    .introducao h1 {
        font-size: 1.6rem;
    }

     p {
        font-size: 1rem;
    }


    .introducao {
        text-align: center;
        justify-items: center;
    }

    .introducao::before {
        display: none;
    }

    .subtitulo {
        font-size: 2.3rem;
    }
    
    
}